@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-fb-500: #1877f2;
    --color-insta-500: #ff0080;
    --color-tw-500: #1da1f2;

    --color-light: #f9f9f9;
    --color-dark: #333;
    --color-primary: #ffb700;
    --color-primary-light: #ffc929;
    --color-primary-dark: #e6a700;
    --color-secondary: #00b050;
    --color-secondary-light: #0b1a78;

    /* Fonts */
    --font-montserrat: 'Montserrat';
}

@layer base {
    html, body {
        font-family: var(--font-montserrat);
        color: var(--color-dark);
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        color: var(--color-dark);
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .required::after {
        content: ' *';
        color: var(--color-primary);
    }
    .backdrop-blur-custom{
        background-image: url('./assets/images/african-females-shopping-online-while-sitting-cafe.jpg');
    }
    .backdrop-blur-custom::before {
        content: '';
        @apply backdrop-blur-sm;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .backdrop-blur-custom {
        @apply bg-cover bg-center backdrop-blur min-h-screen
    }
}

body {
    @apply bg-light;
}