@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-fb-500: #1877f2;
    --color-insta-500: #ff0080;
    --color-tw-500: #1da1f2;

    --color-light: #f9f9f9;
    --color-dark: #333;
    --color-primary: #ffb700;
    --color-primary-light: #ffc929;
    --color-primary-dark: #e6a700;
    --color-secondary: #00b050;
    --color-secondary-light: #0b1a78;

    /* Fonts */
    --font-montserrat: 'Montserrat';
}

@layer base {
    html, body {
        font-family: var(--font-montserrat);
        color: var(--color-dark);
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

body {
    @apply bg-light dark:bg-gray-900;
}